@import "tailwindcss";

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(218, 232, 236);
}

* {
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}
