@import "tailwindcss";

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

#root {
  width: 100%;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
}
